@using NewLetter.Models;

<html>
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orion</title>


        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/CSS/Style.css" rel="stylesheet" />   
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

  



</head>
<body>
    @{ bool isAuthenticated = BaseUtil.IsAuthenticated();
        var roleID = BaseUtil.RoleID();
        var userID = BaseUtil.GetSessionValue(AdminInfo.UserID.ToString());
        var fullName = BaseUtil.GetSessionValue(AdminInfo.FullName.ToString());
    }

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="/CreateTicket/index">
                            <img src="~/Images/logo.png" style="height:70px" alt="Qendidate">
                        </a>
                    </div>
                    <!-- <%--    <a class="navbar-brand" href="#">Start Bootstrap</a>--%>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float: right;">
                    <ul class="nav navbar-nav">
                        @{ if (roleID == "2")
                            {   <li><a href="#" onclick="location.href='@Url.Action("postJob", "jobDetails")'"><span class="glyphicon glyphicon-user"></span> Post Job</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("jobs", "jobDetails")'"><span class="glyphicon glyphicon-user"></span> Jobs</a></li>
                            }

                            if (roleID == "5")
                            {
                             <li><a href="#"><span class="glyphicon glyphicon-user"></span> Search Job</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            }
                        }
                        @{if (isAuthenticated)
                            {
                                <li style="padding-top: 16px;"> <i class="LoginIcon">@fullName.Substring(0, 1)</i> </li>
                            }

                        }
                        <li><a href="#" class="btn btn-danger navbar-btn" onclick="location.href='@Url.Action("Logout", "Account")'">Sign out</a>     </li>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
        </nav>
    </header>
    <div class="container">
       
            @RenderBody()
     
    </div>
</body>
</html>



@RenderSection("head", required: false)
