@model IEnumerable<NewLetter.Models.qendidatePHD>
@{
    ViewBag.Title = "PhdInfo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quendidate</title>
    <!-- Bootstrap -->

    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@

    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    
    

    <style>
        span.col_1.tleft.text-danger.field-validation-error :before {
            content: " Warning ! ";
            color: red;
            font-weight: bold;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>

<body id="certi">
    @{ var id = ViewBag.qenID;}

    <div class="container">
        <div class="row sub-container">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="top-logos">
                    <img src="/images/qendidate-logo.png" />
                    <img src="/images/orion-logo.png" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">

                <div class="right-box">

                    <div class="form">

                        <h1>certifications</h1>

                        @{ if (Model.Count() != 0)
                            {

                                <table class="table">
                                    <thead>
                                        <tr>
                                          
                                            <th>Name</th>
                                            <th>Authority</th>
                                            <th>Licence No</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody id="certificatelistbody">
                                      
                                        @foreach (var data in Model)
                                        {
                                           
                                            <tr> 
                                                <td>@data.courseField</td>
                                                <td>@data.collegeUniversity</td>
                                                <td>@data.phdTitle </td>

                                                <td>
                                                    <a onclick="return editCerificate(@data.phdid);"><i class="glyphicon glyphicon-edit"></i></a>
                                                    <a onclick="return deleteCerificate(@data.phdid,this);" id="delete_@data.phdid"><i class="glyphicon glyphicon-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                            }
                        }
                        <div id="AddSkills">
                            @Html.Action("certificationsAddPop", new { qenid = @id })
                        </div>

                        <div class="group next-btn-wrap">
                            <a class="prev-btn" onclick="location.href='@Url.Action("AcademicInfo", "NewLetter",new { qenid = @id })'">Previous</a>
                            <a class="nxt-btn" onclick="location.href='@Url.Action("EmplomentInfo", "NewLetter",new { qenid = @id})'">Next</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
       function editCerificate(phdid)
       {
           debugger
           var URL = '@Url.Action("certificationsAddPop", "NewLetter")?phdid='+ phdid ;
           $.get(URL, function (data) {
               debugger
               $("#AddSkills").html(data);
           });
       }

       function deleteCerificate(phdid,ID)
       {
           debugger

           var URL = '@Url.Action("DeleteCertifications", "NewLetter")?phdid=' + phdid;


               $.get(URL, function (data) {
                   debugger
                   location = location.href;
               });


       }
    </script>

</body>
</html>