@model NewLetter.Models.EmployerModel




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quendidate</title>
    <!-- Bootstrap -->

    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@

    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>


    <style>
        span.col_1.tleft.text-danger.field-validation-error :before {
            content: " Warning ! ";
            color: red;
            font-weight: bold;
        }

        .text-danger {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        (function ($) {
            $(window).load(function () {

                $("#content-1").mCustomScrollbar({
                    axis: "yx", //set both axis scrollbars
                    advanced: { autoExpandHorizontalScroll: true }, //auto-expand content to accommodate floated elements
                    // change mouse-wheel axis on-the-fly
                    callbacks: {
                        onOverflowY: function () {
                            var opt = $(this).data("mCS").opt;
                            if (opt.mouseWheel.axis !== "y") opt.mouseWheel.axis = "y";
                        },
                        onOverflowX: function () {
                            var opt = $(this).data("mCS").opt;
                            if (opt.mouseWheel.axis !== "x") opt.mouseWheel.axis = "x";
                        },
                    }
                });

            });
        })(jQuery);
    </script>

</head>
<body id="employment">
    @{ var id = ViewBag.qenID;}

    <div class="container">
        <div class="row sub-container">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="top-logos">
                    <img src="/images/qendidate-logo.png" />
                    <img src="/images/orion-logo.png" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">

                <div class="right-box">

                    <div class="form" id="content-1">

                        <h1>EMPLOYMENT</h1>

                        @{ if (Model.employers.Count() != 0)
                            {

                                <table class="table">
                                    @{int row = 0;  }
                                    @foreach (var data in Model.employers)
                                    {
                                        <tbody id="certificatelistbody">
                                            <tr>
                                                <td><strong>Company Name </strong></td>
                                                <td>@data.CompanyName</td>
                                                <td style="display:flex">
                                                    <a onclick="return editCerificate(@data.qenEmploymentNum);"><i class="glyphicon glyphicon-edit"></i></a>
                                                    <a onclick="return deleteCerificate(@data.qenEmploymentNum,this);" id="delete_@data.qenEmploymentNum"><i class="glyphicon glyphicon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <strong>Authority</strong> :</td>
                                                <td>@data.qenPosition</td>
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Date</strong> :</td>
                                                <td> @data.qenEmpFrom.Value.ToString("dd MMM yyyy")</td><td>@data.qenEmpTo.Value.ToString("dd MMM yyyy")</td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                                <h1>Add more employment</h1>
                                        }
                        }
                        <div id="AddSkills">
                            @Html.Action("EmploymentAddPop", new { qenid = @id })
                        </div>

                    </div>
                    <div class="group next-btn-wrap">
                        <a class="prev-btn" onclick="location.href='@Url.Action("certifications", "profiler",new { qenid = @Model.qenid })'">Previous</a>
                        <a class="nxt-btn" onclick="location.href='@Url.Action("skills", "profiler",new { qenid = @Model.qenid })'">Next</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script>
        function editCerificate(empno) {
            debugger
            var URL = '@Url.Action("EmploymentAddPop", "profiler")?empno=' + empno;
            $.get(URL, function (data) {
                debugger
                $("#AddSkills").html(data);
            });
        }

        function deleteCerificate(empno, ID) {
            debugger
            var URL = '@Url.Action("Deletejob", "profiler")?empno=' + empno;


            $.get(URL, function (data) {
                debugger
                location = location.href;
            });


        }
    </script>
</body>
</html>
